@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face{
    font-family:"Prism";
    src: url('../font/PrismMedium.otf')
}

@font-face{
    font-family:"Prism-light";
    src: url('../font/PrismExtraLight.otf')
}

* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #71ab26;
}

/* navbar */
.logo {
    display: none;
    font-family: 'Prism-light';
    font-weight: 800;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #000;
    margin-top: -10px;
    letter-spacing: 5px;
    text-align: center;
}

.nav-bar {
    display: flex;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255, 0);
    color: #c8c8c9;
    padding: 20px 40px;
    font-size: 2rem;
    transition: top 1s ease-in-out;
}

.nav-bar.scrolled-down {
    justify-content: space-between;
    position: fixed;
    background-color: #fff;
    color: #2C2A2B;
    box-shadow: 0px 8px 10px -8px rgba(44, 42, 43, 1);
    top: 0;
}

.nav-bar.scrolled-down .logo {
    display: block;
}

.nav-bar-menu {
    list-style: none;
}

.nav-bar-menu-item {
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
    position: relative;
    letter-spacing: 1.5px;
}

.nav-bar-menu-item:last-of-type {
    margin-right: 0;
}

.nav-bar a {
    color: unset;
    text-decoration: none;
}

.nav-bar-menu-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #c8c8c9;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.nav-bar-menu-item:hover::after {
    transform: scaleX(1);
}


/* main */

.main {
    position: relative;
    top: 0;
    left: 0;
    height: 80vh;
    width: 100%;
    padding: 40px 100px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.main-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.main-bottom {
    margin-top: 70px;
    margin-bottom: -140px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.main-info {
    position: relative;
    z-index: 2;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.main-info::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gray;
    border-radius: 5px;
    transform: rotate(45deg);
}

.main-info-photo {
    height: 50%;
    width: 50%;
}

.main-info img {
    width: 100%;
    height: 100%;
    filter: invert(1);
}

.main-info-description {
    font-size: 1.5rem;
}

.main-title {
    font-family: 'Prism';
    letter-spacing: 2px;
    font-size: 6rem;
    color: #c8c8c8;
}

.background-img {
    position: fixed;
    top: 0;
    z-index: -1;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(30%);
}

.mini-galery {
    height: 400px;
    width: 300px;
    background-color: rgb(200, 200, 200, 0.2);
    backdrop-filter: blur(7px);
    padding: 15px 25px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mini-galery-photo {
    width: 100%;
    height: 75%;
}

.mini-galery-photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.mini-galery-description {
    text-align: justify;
    color: #c8c8c9;
}

/* about */
.dark-sections {
    padding: 30px 60px;
    background: #fff;
    color: #221C46;
    padding-top: 100px;
}

.about {
    min-height: 100vh;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    /* background-color: #232122; */
    box-shadow: 0px -10px 20px -10px rgba(0, 0, 0, 0.9);
}

.section-title {
    text-align: center;
    color: #221C46;;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about-article {
    min-height: 60vh;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10%;
}

.article-photo {
    width: 400px;
    height: 400px;
    position: relative;
}

.article-photo-bg {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #fdfdfd;
    border-radius: 25px;
    border-radius: 25px;
    overflow: hidden;
}

.article-photo-bg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.article-photo::before {
    content: "";
    z-index: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #2C2A2B;
    border-radius: 25px;
    bottom: -15px;
    left: -15px;
}

.article-photo.reverse::before {
    left: unset;
    right: -15px;
}

.about-article-description {
    width: 500px;
    text-align: justify;
    line-height: 2rem;
    letter-spacing: 1.1px;
    font-size: 1.2rem;
}

/* beak */

.break-title {
    font-family: 'Prism';
    letter-spacing: 2px;
    font-size: 6rem;
    color: #fff;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-transform: uppercase;
    padding: 0;
    margin-top: -30px;
    height: 250px;
}

/* news */

.news {
    min-height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

/* footer */

footer {
    background-color: #2C2A2B;
    padding: 20px;
    color: #fff;
}