.main-page {
    min-height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    color: var(--text);
    font-size: 16px;
}

.background img {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 103%;
    height: 103vh;
    object-fit: cover;
    filter: blur(2px);
    transform-origin: 50% 50%;
    transform: translate(-50%, -50%);
}

.background-filter {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0, 0.4);
}

.main-content {
    width: 100%;
    min-height: 100vh;
    padding: 30px 0 30px 15%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-text {
    position: absolute;
    left: 15%;
    top: 50%;
    display: flex;
    flex-direction: column;
    width: 85%;
}

.main-title {
    color: var(--text);
    font-size: 3rem;
    margin: 0;
    line-height: 4rem;
    letter-spacing: 6px;
}

.template-blue {
    color: var(--blue) !important;
}

p.title-description {
    margin: 0;
    color: var(--text);
    font-size: 1.2rem;
    margin-top: 10px;
    max-width: 50%;
    line-height: 2rem;
    letter-spacing: 2px;
}