@media screen and (max-width: 768px) {

    /* /Main\ */

    .main-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10vh;
        align-items: center;
        padding: 20px;
    }
    
    .main-text {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
    }

    p.title-description {
        max-width: 100%;
    }

    /* \Main/ */

    /* /Nav\ */

    .menu-hamburger {
        font-size: 3rem;
        color: #fff;
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        cursor: pointer;
    }

    .menu-hamburger div {
        width: 100%;
        height: 4px;
        background-color: #fff;
        border-radius: 25px;
    }

    .close {
        font-size: 3rem;
        color: #fff;
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        cursor: pointer;
        z-index: 100;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    
    .close div {
        width: 100%;
        height: 4px;
        background-color: #fff;
        border-radius: 25px;
    }
    
    .close .close-top {
        transform-origin: top center;
        transform: translateY(325%) rotate(-45deg);
    }
    
    .close .close-bottom {
        transform-origin: bottom center;
        transform: translateY(-325%) rotate(45deg);
    }
    
    .hamburger .nav-bar {
        position: fixed;
        z-index: 8;
        top: 0;
        left: 100vw;
        width: 100vw;
        height: 100vh;
        background-color: #222;
        flex-direction: column;
        margin: 0;
        transition: left 0.3s ease-in-out;
    }

    .hamburger .nav-bar-block {
        height: 100%;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .hamburger .nav-bar.active {
        left: 0;
    }
    
    .navigator .main-nav {
        padding: 20px;
    }

    .navigator .main-logo img {
        max-height: 30px;
    }

    /* \Nav/ */

    /* /Home Galery\ */
    
    .slide {
        padding: 10px;
    }

    /* \Home Galery/ */
    
    /* /History\ */

    .history {
        padding: 20px;
        padding-top: 100px;
        padding-bottom: 100px;
        gap: 20px;
    }
    
    .history-article {
        flex-direction: column;
        gap: 20px;
    }
    
    .history-article.reverse {
        flex-direction: column-reverse;
    }
    
    .history-img-box {
        width: 100%;
    }
    
    .history-text {
        width: 100%;
    }

    /* \History/ */

    /* /Footer\ */
    
    .footer-map {
        grid-column: span 1;
    }
    
    .patrons {
        gap: 20px;
        padding: 40px 20px;
        padding-bottom: 10px;
    }

    .patrons-content {
        justify-content: space-evenly;
        padding: 0;
    }

    .patron img {
        height: 50px;
        object-fit: contain;
    }
    
    .main-footer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    /* \Footer/ */
    
    .main-social-media {
        display: none;
    }

    .footer-authors {
        font-size: 0.8rem;
    }

    .footer-social-media .main-social-media {
        display: flex;
    }
}