.footer {
    background: #333;
    color: var(--text);
}

.footer a {
    text-decoration: none;
    color: unset;
}

/* /Patrons\ */

.patrons {
    padding: 10px;
    background-color: #222;
    color: var(--text);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    letter-spacing: 1.2px;
}

.patrons-content {
    padding: 30px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.patron img {
    height: 100px;
}

.patron {
    opacity: 0.7;
}

.patron:hover {
    opacity: 0.9;
}

.patrons-text {
    opacity: 0.5;
}

.patron.elektronik {
    filter: brightness(0) saturate(100%) invert(99%) sepia(3%) saturate(668%) hue-rotate(237deg) brightness(111%) contrast(73%);
}

/* \Patrons/ */

/* /Main footer\ */

.main-footer {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.footer-logo img {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
}

.footer-logo, .footer-nav, .footer-contact, .footer-facebook {
    grid-column: span 1;
    width: 100%;
}

.footer-map {
    grid-column: span 2;
}

.footer .App {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe.map {
    width: 100%;
}

.main-footer nav ul {
    margin: 0;
    padding: 0;
}

.main-footer nav li {
    margin: 20px;
    letter-spacing: 1.2px;
}

.main-footer a:hover {
    text-decoration: underline;
}

.footer h3 {
    font-size: 1.5rem;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.contact-content-box {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
}

/* \Main footer/ */

/* /Footer Authors\ */

.footer-authors {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #222;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    color: var(--text);
}

.footer-authors span {
    letter-spacing: 1.2px;
    opacity: 0.6;
    line-height: 1.2rem;
}

span.authors {
    text-align: right;
}

/* \Footer Authors/ */