.navigator .main-nav {
    position: fixed;
    top: -100px;
    left: 0;
    background: #333333ee;
    z-index: 10;
    align-items: center;
    padding: 20px 120px;
    transition: top 0.3s ease-in;
}

.navigator .main-logo img {
    max-height: 50px;
}

.navigator .nav-bar {
    padding: 0;
    margin: 0;
}

.navigator .main-nav.displayed {
    top: 0;
}