.main-social-media {
    position: absolute;
    right: 10%;
    bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

.main-social-media-item {
    filter: brightness(0) saturate(100%) invert(99%) sepia(3%) saturate(668%) hue-rotate(237deg) brightness(111%) contrast(73%);
}

.main-social-media-item img {
    max-width: 2rem;
}

.main-social-media-item.elektronik img {
    max-width: 3.5rem;
}

.main-social-media-item:hover {
    opacity: 1;
}

.footer-social-media .main-social-media {
    position: relative;
    right: 0;
    bottom: 0;
}